<div>
    <button (click)="showPanel()"> Show Main Panel </button>
    <div *ngIf="showElement">
        <h1 [style]="center" (click)="changeHeader('Application Store New Title')">{{ title }}</h1>
        <h2 class="product-header">
            Products
        </h2>
        <h3 [style.color]="color" *ngFor="let product of products; index as pIndex"> {{ pIndex }} > {{ product }} </h3>

        <button *ngFor="let colorTheme of colors; index as pIndex" [style.background-color]="colorTheme.value"
            (click)="changeColor(colorTheme.value)"> {{ colorTheme.label }}
        </button>
    </div>

</div>